:root{
    --borderColor: rgb(0, 139, 139);
    --textGradientFirstColor: rgba(42, 123, 155, 1);
    --textGradientSecondColor: rgba(65, 161, 144, 1);
    --textGradientThirdColor: rgba(87, 199, 133, 1);
    --textGradientForthColor: rgba(56, 240, 0, 1);
    --glassColor: rgba(0, 255, 127, 0.01);;
}




#main-draw{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    visibility: hidden;
}
#draw{
    height: 40vmin;
    min-height: 35vmin;
    width: 60vmin;
    min-width: 50vmin;
    background-color: var(--glassColor);
    backdrop-filter: blur(5px);
    border: 3px solid var(--borderColor);
    border-radius: 1.33vmin;  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
#draw div{
    height: 100%;
}
#draw div span{
    font-size: 125%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#stg2{
    height: 20%;
    cursor: pointer;
    background: linear-gradient(90deg, var(--textGradientFirstColor) 35%, var(--textGradientSecondColor) 50%, var(--textGradientThirdColor) 75%, var(--textGradientForthColor) 100%);
    -webkit-background-clip: text;
    color: transparent;
    border: none;
    font-size: 100%;
}