:root{
    --textGradientFirstColor: rgba(42, 123, 155, 1);
}



.reloadAnimationTransparent{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: transparent;
    visibility: hidden;
    z-index: 999;
}

.show1{
    animation: identifier2 2s linear 1s steps(1);
}

@keyframes identifier {
    0%{
        height: 100vh;
        bottom: 0;
    }
    99%{
        height: 100vh;
        bottom: 0;
    }
    100%{
        height: 100vh;
        bottom: 100vh;
    }
}

.reloadAnimation{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(87, 199, 133, 1);
    visibility: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reloadAnimation span{
    font-size: 5vmin;
    color: var(--textGradientFirstColor);
} 

.show2{
    animation: identifier2 2s linear 1s 1;
}

@keyframes identifier2 {
    0%{
        height: 100vh;
        bottom: 0;
    }
    100%{
        height: 100vh;
        bottom: 100vh;
    }
}












.reloadAnimationBack{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(65, 161, 144, 1);
    visibility: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show3{
    animation: identifier3 2s linear 1.1s 1;
}

@keyframes identifier3 {
    0%{
        height: 100vh;
        bottom: 0;
    }
    100%{
        height: 100vh;
        bottom: 105vh;
    }
}